#createCurrentDaySection{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.925);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
}
#createCurrentDaySection h2{
    color: white;
    font-size: 30px;
    text-align: center;
    width: 100%;
}
#addExerciseCurrentDayButton{
    
    margin-top: 20px;
    width: 10%;
}
#createCurrentDaySection input{
    margin-top:10px;
    width: 25%;
}
.deleteCurrent{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
}
.exerciseConfig{
    align-items: center;
    display: flex;
    justify-content: center;
}
#readyButton{
    height: 5%;
    margin-top: 50px;
    width: 60%;
}
.hidden{
    display: none;
}