#login h1{
    background:none;
    font-size: 50px;
    margin-top: 10vh;
    width: 80%;
    
}
#login{
    align-items: center;
    background-color: rgb(24, 24, 24);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}
#login label{
    color: rgb(185, 177, 162);
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    margin-top: 20px;
}
#login input{
    border-radius: 10px;
    height: 5vh;
    font-size: 20px;
}
#login button{
    background: rgb(170,180,189);
    background: -moz-radial-gradient(circle, rgba(170,180,189,0.8855917366946778) 0%, rgba(71,74,77,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(170,180,189,0.8855917366946778) 0%, rgba(71,74,77,1) 100%);
    background: radial-gradient(circle, rgba(170,180,189,0.8855917366946778) 0%, rgba(71,74,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aab4bd",endColorstr="#474a4d",GradientType=1);
    border-radius: 10px;
    height: 5vh;
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    margin-top: 5vh;
    width: 60%;
}
#login a{
    background: none;
    color: rgb(235, 233, 230);
    font-size: 25px;
    font-family: 'Teko', sans-serif;
    font-weight: 700;
    margin-top: 5vh;
    text-decoration: none;
}
#login ul{
    color: rgb(150, 60, 60);
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    
}
