@keyframes rotate {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);

    }
    
}
@keyframes appearance {
    from{
        font-size: 1px;
        opacity: 0;
    }
    to{
        font-size: 18px;
        opacity: 1;
    }
}
#preLoadDiv{
    background: url('../img/backgroundLGYMApp500.png');
    background-color: rgb(92, 92, 92);
    background-position: center;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#preLoadContainer{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    width: 100%;
}
h1{

font-family: 'Foldit', cursive;
font-size: 60px;
margin: 0;
padding: 0;
text-align: center;
text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.459);
letter-spacing: 4px;
width: 100%;
}
#loginAndRegisterPreLoadContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}



#loginAndRegisterPreLoadContainer a{
    align-items: center;
    background: rgb(170,180,189);
    background: -moz-radial-gradient(circle, rgb(170, 180, 189) 0%, rgba(71,74,77,1) 100%);
    background: -webkit-radial-gradient(circle, rgb(170, 180, 189) 0%, rgba(71,74,77,1) 100%);
    background: radial-gradient(circle, rgb(170, 180, 189) 0%, rgba(71,74,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aab4bd",endColorstr="#474a4d",GradientType=1);
    border-radius: 10px;
    color: rgba(44, 44, 44, 0.788);
    display: flex;
    font-family: 'Teko', sans-serif;
    font-size: 50px;
    font-weight: 700;
    justify-content: center;
    margin-top: 20px;
    height: 10vh;
    opacity: 1;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    letter-spacing: 4px;
    width: 70%;
    
}

a:hover{
    opacity: 1;
}
.icon-dumbell{
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 40px;
}
.icon-dumbell:hover{
    color: rgb(255, 255, 255);
}
#quoteContainer{
    align-items: center;
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
    gap: 30px;
    width: 100%;
}
p{
    color: rgb(255, 255, 255);
    font-family: 'Caveat', cursive;
    font-size: 1px;
    margin: 0;
    opacity: 0;
    text-align: center;
    width: 70%;
}
.appearance{
    animation-name: appearance;
    animation-duration: 2s;
    animation-delay:3s;
    animation-fill-mode: forwards;
}
.rotate{
    
    animation-duration: 3s;
    animation-name: rotate;
    
}
.logoOfAPP{
    width: 80%;
}
