#profileContainer{
    
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0.8407738095238095) 0%, rgba(238,235,235,0.9192051820728291) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.8407738095238095) 0%, rgba(238,235,235,0.9192051820728291) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,0.8407738095238095) 0%, rgba(238,235,235,0.9192051820728291) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#eeebeb",GradientType=1);
    border-bottom-right-radius: 0px ;
    border-bottom-left-radius:  0px;
    margin-left: 1%;
    margin-right: 1%;
    height: 80vh;
   
    position: relative;
    z-index: 2;
    width: 98%;
}
.profileContainerDisplay{
    align-items: center;
    display: flex;
    flex-direction: column;
}
#profileContainer h1{
    background: none;
    font-family: 'Teko', sans-serif;
    border-bottom: 10px solid rgb(117, 117, 117);
    border-radius: 20px;
    margin: 0;
    text-shadow: 3px 3px 2px grey;
}
#profileContainer h2{
    color: rgb(0, 0, 0);
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 0px black;
    font-size: 35px;
    font-family: 'Teko', sans-serif;
    padding: 5px;
    width: 80%;
}

#profileContainer h3{
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 0px black;
    font-size: 30px;
    margin: 1%;
    font-family: 'Teko', sans-serif;
    padding: 5px;
    width: 80%;
}
.profileRankh3{
    
    color: rgb(223, 223, 223);
    background: rgb(89,89,89);
    background: -moz-linear-gradient(0deg, rgba(89,89,89,1) 10%, rgba(64,64,64,1) 90%);
    background: -webkit-linear-gradient(0deg, rgba(89,89,89,1) 10%, rgba(64,64,64,1) 90%);
    background: linear-gradient(0deg, rgba(89,89,89,1) 10%, rgba(64,64,64,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#595959",endColorstr="#404040",GradientType=1);
    display: flex;
    width: 100%;
    
}
#logout{
    background-color: rgba(189, 18, 18, 0.884);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 0 grey;
    color: rgb(218, 218, 218);
    cursor: pointer;
    height: 7%;
    font-size: 25px;
    margin-top: 100px;
    font-family: 'Teko', sans-serif;
    width: 50%;
    z-index: 3;

}
#logout:hover{
    opacity: 0.8;
}
.midContainerRank{
    background: rgb(87,37,105);
    background: -moz-linear-gradient(333deg, rgba(87,37,105,1) 10%, rgba(38,10,75,1) 90%);
    background: -webkit-linear-gradient(333deg, rgba(87,37,105,1) 10%, rgba(38,10,75,1) 90%);
    background: linear-gradient(333deg, rgba(87,37,105,1) 10%, rgba(38,10,75,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#572569",endColorstr="#260a4b",GradientType=1);
}
.proContainerRank{
    /* background: rgb(157,8,8);
    background: -moz-linear-gradient(333deg, rgba(157,8,8,1) 10%, rgba(102,4,39,1) 90%);
    background: -webkit-linear-gradient(333deg, rgba(157,8,8,1) 10%, rgba(102,4,39,1) 90%);
    background: linear-gradient(333deg, rgba(157,8,8,1) 10%, rgba(102,4,39,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9d0808",endColorstr="#660427",GradientType=1); */
    background: rgb(92,4,4);
    background: -moz-linear-gradient(333deg, rgba(92,4,4,1) 10%, rgba(112,13,48,1) 90%);
    background: -webkit-linear-gradient(333deg, rgba(92,4,4,1) 10%, rgba(112,13,48,1) 90%);
    background: linear-gradient(333deg, rgba(92,4,4,1) 10%, rgba(112,13,48,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5c0404",endColorstr="#700d30",GradientType=1);
}
.champContainerRank{
    background: rgb(91,76,2);
    background: -moz-linear-gradient(333deg, rgba(91,76,2,1) 10%, rgba(153,117,6,1) 90%);
    background: -webkit-linear-gradient(333deg, rgba(91,76,2,1) 10%, rgba(153,117,6,1) 90%);
    background: linear-gradient(333deg, rgba(91,76,2,1) 10%, rgba(153,117,6,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b4c02",endColorstr="#997506",GradientType=1);
}
.containerForInfoProfile{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 60%;
    
}
.ColumnProfile{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.hidden{
    display: none;
}