#register{
    align-items: center;
    background: rgb(22,22,22);
    background: -moz-linear-gradient(333deg, rgba(22,22,22,1) 10%, rgba(85,85,85,1) 90%);
    background: -webkit-linear-gradient(333deg, rgba(22,22,22,1) 10%, rgba(85,85,85,1) 90%);
    background: linear-gradient(333deg, rgba(22,22,22,1) 10%, rgba(85,85,85,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#161616",endColorstr="#555555",GradientType=1);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}
#register h1{
    background:none;
    font-size: 50px;
    margin-top: 10vh;
    width: 80%;
    
}
#register label{
    color: rgb(185, 177, 162);
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    margin-top: 20px;
}
#register input{
    border-radius: 10px;
    height: 5vh;
    font-size: 20px;
}
#register button{
    background: rgb(170,180,189);
    background: -moz-radial-gradient(circle, rgba(170,180,189,0.8855917366946778) 0%, rgba(71,74,77,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(170,180,189,0.8855917366946778) 0%, rgba(71,74,77,1) 100%);
    background: radial-gradient(circle, rgba(170,180,189,0.8855917366946778) 0%, rgba(71,74,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aab4bd",endColorstr="#474a4d",GradientType=1);
    border-radius: 10px;
    height: 5vh;
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    margin-top: 5vh;
    width: 60%;
}
#register ul{
    color: rgb(150, 60, 60);
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    
}
.logoOfAPPRegister{
    width: 42%;
}


@media screen and (max-height:700px){
    #register label{
        font-size: 30px;
        margin-top: 1px;
    }
    #register button{
        height: 8vh;
    }
}