
#trainingPlanSection{
    position: relative;
}

#withoutPlanContainer{
    align-items: center;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(90deg, rgba(255,255,255,0.8407738095238095) 0%, rgba(238,235,235,0.9192051820728291) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.8407738095238095) 0%, rgba(238,235,235,0.9192051820728291) 100%);
    background: linear-gradient(90deg, rgba(255,255,255,0.8407738095238095) 0%, rgba(238,235,235,0.9192051820728291) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#eeebeb",GradientType=1);
    border-radius: 10px;
    border-bottom-right-radius: 0px ;
    border-bottom-left-radius:  0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1%;
    margin-right: 1%;
    height: 80vh;
   
    width: 98%;
}
#withoutPlanContainer h2{
    font-family: 'Young Serif', serif;
}
#withoutPlanContainer button{
    align-items: center;
    background: rgba(255, 255, 255, 0.918);
    background: -moz-linear-gradient(333deg, rgba(179,179,179,1) 10%, rgba(255,255,255,1) 90%);
    background: -webkit-linear-gradient(333deg, rgba(179,179,179,1) 10%, rgba(255,255,255,1) 90%);
    background: linear-gradient(333deg, rgba(179,179,179,1) 10%, rgba(255,255,255,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3b3b3",endColorstr="#ffffff",GradientType=1);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(80, 80, 80);
    border-left: 2px solid rgb(78, 78, 78);
    display: flex;
    font-family: 'Young Serif', serif;
    font-size: 15px;
    justify-content: center;
    margin-top: 20px;
    height: 10%;
    text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.89);
    letter-spacing: 4px;
    width: 60%;
}

#formPlanCreate{
    align-items: flex-start;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
    font-family: 'Young Serif', serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}
#formPlanCreate h2{
    border-bottom: 4px solid whitesmoke;
    margin: 0;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    width: 95%;
    
}
#formPlanCreate div{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
    width: 40%;
}
#formPlanCreate div button{
    background: rgba(255, 255, 255, 0.918);
    background: -moz-linear-gradient(333deg, rgba(179,179,179,1) 10%, rgba(255,255,255,1) 90%);
    background: -webkit-linear-gradient(333deg, rgba(179,179,179,1) 10%, rgba(255,255,255,1) 90%);
    background: linear-gradient(333deg, rgba(179,179,179,1) 10%, rgba(255,255,255,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3b3b3",endColorstr="#ffffff",GradientType=1);
    border-radius: 5px;
    height: 40px;
    width: 90%;
}
#formPlanCreate div input{
    width: 80%;
}
#formPlanCreate div label{
    font-size: 15px;
}
#formPlanCreate button{
    background: rgba(255, 255, 255, 0.918);
    background: -moz-linear-gradient(333deg, rgba(179,179,179,1) 10%, rgba(255,255,255,1) 90%);
    background: -webkit-linear-gradient(333deg, rgba(179,179,179,1) 10%, rgba(255,255,255,1) 90%);
    background: linear-gradient(333deg, rgba(179,179,179,1) 10%, rgba(255,255,255,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b3b3b3",endColorstr="#ffffff",GradientType=1);
    border-radius: 10px;
    height: 50px;
    width: 70%;
}